<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="storedProcedures" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <connectionStrings>
    <!--TQINTRA2 -->
    <!--<add name="QPTM_INTRA" connectionString="bN3V0KU8JoFtHJhCz2Y1UWnYUhVlVRAdWaF3U0nk+AYLqsbkCs0laKGSSs3TuDw+2UEyFlc94XVaY7blhWEj+WgB+xo9B1RsJRYwNdUW46KTiQdSA1s0aWnHTF6Zjcbk" />-->
    <!--DQINTRA2  -->
    <!--<add name="QPTM_INTRA" connectionString="O2MRneE7U1FuZlxMrg0rIwvmOBl6PV1K2YKzMB4iNtJbmV26NypP0QgMJvf1oSCDtPyzRZwGMzVaxbYWVueVCSlETsxdwCgtJaN9ema2gp9f603e1vd1APQmoMtfVsRU"/>-->
    <!--QQINTRA2 -->
    <!--<add name="QPTM_INTRA" connectionString="asVyX7zGMCZljz7p3iqhyVcn46IjNtu3pBhquKVEWaJJjoFZVzkpMaXqmzY5zLH3IbJHNhMdG0EQ/nJGmLJnJFTvmgQYn89ExHytsyKirFpgjEBtXcTZgOM7pj1UFnYE+nAQ1ewg+vpNPJ0j/1AXTb+PUWuSAMdpHxZD7GQX5Q7qh1I281R3zF/+zEEvP1IuLMu0zTbPGlf4DSBU5nig8lOCnuwn7dtJbnTGGrmckXU="/>-->
    <!--PQINTRA2-->
    <add name="QPTM_INTRA" connectionString="asVyX7zGMCZljz7p3iqhyVcn46IjNtu3pBhquKVEWaJJjoFZVzkpMaXqmzY5zLH3mStrj/MGBPZ5uhjHinajBQBFUlS62F5sTmu6+0hvb+w6PwF775x6Re5meZ6BVbgpE9CLVjS7nVnOEsDqaVkmk6S5y3UqEDZm+TdgatpPcVlbXPa8Pk5zPEJsME1p4McZ1z1SZobraq3D7zz4YrzK0g=="/>
  </connectionStrings>
  <appSettings>
    <!-- Wait time before process tries to open the populated PDF file -->
    <add key="FileWriteWaitTime" value="1000"/>
    <!-- Original PDF File Name -->
    <add key="OriginalPDFName" value="form-549d.pdf"/>
    <!-- XSD Schema File Name -->
    <add key="XsdSchemaFileName" value="form-549d.xsd"/>
    <add key="TargetDirectory" value="C:\Data\System\Quorum\Project\Interfaces\FERC549D\Files\Test\" />
    <add key="logDirectory" value="C:\Data\System\Quorum\Project\Interfaces\FERC549D\Files\Test\" />
    <!--Target file location, must end with a backslash.-->
    <!--<add key="TargetDirectory" value="\\srvapp525oke\data\QPTM_Intra\PROD\QPTM4.0\Reports\Exports\Ferc549D\"/>-->
    <!--Log file location, must end with a backslash.  The log only has errors written to it.-->
    <!--<add key="LogDirectory" value="\\srvapp525oke\data\QPTM_Intra\PROD\QPTM4.0\Reports\BatchProcess\Ferc549D\"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <storedProcedures>
    <add key="ONK_549D" value="FERC_549D.Get_Quarterly_Report"/>
    <add key="ONK_549D_YTD" value="FERC_549D.Get_YTD_Report"/>
  </storedProcedures>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
